.example-container {
  height: 100vh;
  background-color: rgb(112, 76, 76);
}

.example-sidenav-content {
  // display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
}

.example-sidenav {
  padding: 20px;
}



