<!-- todo la pantalla -->
<app-toolbar (toogleSidebar)="drawer.toggle()" ></app-toolbar>
<mat-drawer-container class="example-container" autosize>
  <!-- hijo1 menu lateral tambien conocido como sidenav -->
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-sidebar></app-sidebar>
  </mat-drawer>
<!-- hijo2 el contenido  -->
  <div class="example-sidenav-content">
    <main style="padding: 20px;">
      <h1 appHeadline>Usuarios</h1>
      <app-users></app-users>
    </main>
  </div>

</mat-drawer-container>